<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>PetPocket</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">


    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Icons FontAwesome 4.7.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"  type="text/css" />
    <link rel="stylesheet" href="style.css">
    <form action="/notificaciones/notes" method="post">

</head>
<body>

     <div class="contenedor">

         <img class="img-3" src="images/img-6.png" alt="">
         
         <img class="img-2" src="images/img-3.png" alt="">

         <img class="img-1" src="images/img-1.png" alt="">

         <img class="img-4" src="images/img-2.jpg" alt="">


    </div>


    <div class="contist">
    <img src="images/img-7.png" alt="">
    </div>


    <div class="contenido">
        <h3>Perritos Fotog茅nicos</h3>
        <p>#paraustedes</p>
        <p>#animales</p>
        <p style="color: rgb(91, 92, 92);">ana.solis</p>
        <p style="color: rgb(91, 92, 92);">Hace 6h      1550</p>
    </div>
       
 <div class="contexto">
        <h3>Juguetes de perrito </h3>
        <p>#paraustedes</p>
        <p>#juguetes</p>
        <p style="color: rgb(91, 92, 92);">david.ortiz</p>
        <p style="color: rgb(91, 92, 92);">Hace 14h      20.5k</p>
</div>

        <div class="contando">
            <h2>Marta Soliz :) </h2>
            <p>Soliz. 2023-12-20</p>

            <p>Adopta un perrito #adopci贸n #parati #Viral #lindo</p>
            
            <p>Piando - Classic</p>

        <div class="forma">
                  <li class="hover-orange selected-orange"><i class="fa fa-heart"></i>22k</li>
         </div>

              <div class="frase">
                    <li><span><b>Juan , Tatiana</b> y 47 personas le dieron like</span></li>
               </div>

                <ul class="feed_footer_right">
                    <li>
                        <li class="hover-orange selected-orange"><i class="fa fa-share"></i> 7k</li>
                        <a href="feed.html" style="color:#858382;"><li class="hover-orange"><i class="fa fa-comments-o"></i> 74 comentarios</li></a>
                    </li>
                </ul>
            </div>
        </div>

        
        
              
    </body>
    <div class="navbar">
        <div class="navbar_menuicon" id="navicon">
            <i class="fa fa-navicon"></i>
        </div>
        <div class="navbar_page">
            <span>PetPocket</span>
        </div>
        <div class="navbar_search">
            <form method="" action="/">
                <input type="text" placeholder="Buscar.." />
                <button><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="navbar_icons">
            <ul>
                <li id="friendsmodal"><i class="fa fa-user-o"></i><span id="notification">5</span></li>
                <li id="messagesmodal"><i class="fa fa-comments-o"></i><span id="notification">2</span></li>
                <a href="" style="color:white"><li><i class="fa fa-globe"></i></li></a>
            </ul>
        </div>
        <div class="navbar_user" id="profilemodal" style="cursor:pointer">
            <img src="images/usuario foto.png" alt="" />
            <span id="navbar_user_top">PetPocket<br><p>User</p></span><i class="fa fa-angle-down"></i>
        </div>
    </div>
    <!-- Modal Messages -->
    <div class="modal modal-comments">
        <div class="modal-icon-select"><i class="fa fa-sort-asc" aria-hidden="true"></i></div>
        <div class="modal-title">
            <span>NOTIFICACIONES</span>
             <a href="messages.html"><i class="fa fa-ellipsis-h"></i></a>
        </div>
        <div class="modal-content">
            <ul>
                <li>
                    <a href="#">
                        <img src="images/chica1.png" alt="" />
                        <span><b>Marta Soliz</b><br>Marta Soliz y 30 personas m谩s le dieron me gusta a tu publicaci贸n<p>Hace 4h</p></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/chico2.png" alt="" />
                        <span><b>Juan Freire</b><br>Juan Freire comenz贸 a seguirte <p>Hace 10min</p></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/chica3.png" alt="" />
                        <span><b>Tatiana Bravo</b><br> Tatiana Bravo comento una publicaci贸n<p>Hace 14h</p></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Modal Friends -->
    <div class="modal modal-friends">
        <div class="modal-icon-select"><i class="fa fa-sort-asc" aria-hidden="true"></i></div>
        <div class="modal-title">
            <span>AMIGOS Y SOLICITUDES</span>
             <a href="friends.html"><i class="fa fa-ellipsis-h"></i></a>
        </div>
        <div class="modal-content">
            <ul>
                <li>
                    <a href="#">
                        <img src="images/usuario.png" alt="" />
                        <span><b>Tony Stevens</b><br>4 Friends in Common</span>
                        <button class="modal-content-accept">Accept</button><button class="modal-content-decline">Decline</button>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/usuaria.png" alt="" />
                        <span><b>Tamara Romanoff</b><br>2 Friends in Common</span>
                        <button class="modal-content-accept">Accept</button><button class="modal-content-decline">Decline</button>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/chico1.png" alt="" />
                        <span><b>Nicholas Grissom</b><br>1 Friend in Common</span>
                        <button class="modal-content-accept">Accept</button><button class="modal-content-decline">Decline</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Modal Profile -->
    <div class="modal modal-profile">
        <div class="modal-icon-select"><i class="fa fa-sort-asc" aria-hidden="true"></i></div>
        <div class="modal-title">
            <span>YOUR ACCOUNT</span>
             <a href="settings.html"><i class="fa fa-cogs"></i></a>
        </div>
        <div class="modal-content">
            <ul>
                <li>
                    <a href="settings.html">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        <span><b>Profile Settings</b><br>Yours profile settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span><b>Create a page</b><br>Create your page</span>
                    </a>
                </li>
                <li>
                    <a href="login.html">
                        <i class="fa fa-power-off" aria-hidden="true"></i>
                        <span><b>Log Out</b><br>Close your session</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- NavMobile -->
    <div class="mobilemenu">
        
        <div class="mobilemenu_profile">
            <img id="mobilemenu_portada" src="images/portada.jpg" />
            
            <div class="mobilemenu_menu">
                <ul>
                    <li><a href="index.html" id="mobilemenu-selected"><i class="fa fa-globe"></i>Newsfeed</a></li>
                    <li><a href="profile.html"><i class="fa fa-user"></i>Profile</a></li>
                    <li><a href="friends.html"><i class="fa fa-users"></i>Friends</a></li>
                    <li><a href="messages.html"><i class="fa fa-comments-o"></i>messages</a></li>
                    <li class="primarymenu"><i class="fa fa-compass"></i>Explore</li>
                    <ul class="mobilemenu_child">
                </ul>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    // Modals
    $(document).ready(function(){


        $("#messagesmodal").hover(function(){
            $(".modal-comments").toggle();
        });
        $(".modal-comments").hover(function(){
            $(".modal-comments").toggle();
        });



        $("#friendsmodal").hover(function(){
            $(".modal-friends").toggle();
        });
        $(".modal-friends").hover(function(){
            $(".modal-friends").toggle();
        });


        $("#profilemodal").hover(function(){
            $(".modal-profile").toggle();
        });
        $(".modal-profile").hover(function(){
            $(".modal-profile").toggle();
        });


        $("#navicon").click(function(){
            $(".mobilemenu").fadeIn();
        });
        $(".all").click(function(){
            $(".mobilemenu").fadeOut();
        });
    });
    </script>
    <script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>
</form>
</html>